<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio de Currículos</title>
    <link rel="stylesheet" href="../static/css/esqueciSENHA.css" /> <!-- Link CSS-->
    <script src="../static/js/esqueciSENHA.js"></script> <!-- Link de script para java script-->
</head>
<body>
    <div class="containerPrinc">
        <div class="containerLogin">
          <div class="containerLogo">
            <img src="../static/img//Logo/logo.png" alt="Logo" class="logoLogin" />
          </div>
  
          <div class="containerDatas">
            <input type="text" placeholder="Insira a nova senha:" class="senha" />
            <div class="containerEmpty"></div>
            <input type="text" placeholder="Confirme a nova senha:" class="senha" />
            <div class="containerEmpty"></div>
            <!-- Div vazia para separar os inputs -->
             
            

            
          </div>
          
          <div class="containerButtons">
                  <button class="btnSingIn" class="btn" onclick="goToPageLogin()">Entrar</button>
              
          </div>
        </div>
      </div>

    <script src="scripts.js"></script>
</body>
</html>