<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vagas</title>
    <link rel="stylesheet" href="../static/css/vagas.css" />
    <!-- Link CSS-->
    <link rel="shortcut icon" href="img/Logo/logo.jpeg" type="image/x-icon" />
    <!-- Link favicon-->
    <script
      src="https://kit.fontawesome.com/91a34a7460.js"
      crossorigin="anonymous"
    ></script>
    <!-- Link fonts awesome-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- Link fonts google-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- Link fonts google-->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Link fonts google-->
    <script src="../static/js/vagas.js"></script>
    <!-- Link de script para java script-->


  </head>

  <body>
    <!-- Menu Hambúrguer -->
    <div class="menuHamburguer">
      <div class="menuContent">

        <div class="containerTopMenuHamburguer">
        <!-- Botão de voltar -->
        <a href="" onclick="toggleMenuReturn()" class="menuContentButtonReturn"> Voltar</a>

        <div class="containerHamburguerPhoto">
        <!-- foto de perfil Menu Hamburguer -->
          <div class="navbarPhotoHamburguer">
            <a href="telaPerfil.html" >
              <img src="../static/img/Perfil/perfil.PNG" alt="Foto de perfil" />
                <a href="telaPerfil.html" class="aNameTopMenuHamburguer"> Alex Soares Do Nascimento </a>
            </a>
          </div>
          
        </div>
        </div>


        <div class="containerHamburguerLinks">
          <span>Configurações</span>
          

          <div class="curriculoDropdown">
            <a href="javascript:void(0);" onclick="toggleMenuButtonCurriculoDropdown()" class="toggleDropdown">Currículo</a>

            <div class="curriculoDropdownContent">
                <a href="##########" class="aDropdown">Currículos enviados</a>
                <a href="" class="aDropdown">Editar currículo</a>
            </div>

          </div>


          
          <div class="editPerfilDropdown">
            <a href="javascript:void(0);" onclick="toggleMenuButtonEditarPerfilDropdown()" class="toggleDropdown">Editar perfil</a>

            <div class="editPerfilDropdownContent">
                <a href="" class="aDropdown">Mudar nome</a>
                <a href="" class="aDropdown">Adicionar foto</a>
            </div>

          </div>



          <div class="segurancaDropdown">
            <a href="javascript:void(0);" onclick="toggleMenuButtonSegurancaDropdown()" class="toggleDropdown">Segurança</a>

            <div class="segurancaDropdownContent">
                <a href="" class="aDropdown">Alterar e-mail</a>
                <a href="" class="aDropdown">Alterar numero</a>
                <a href="" class="aDropdown">Alterar senha</a>
            </div>
          </div>



          <div class="centralDeAjudaDropdown">
            <a href="javascript:void(0);" onclick="toggleMenuButtonCentraDeAjudaDropdown()" class="toggleDropdown">Central de Ajuda</a>

            <div class="centralDeAjudaDropdownContent">
                <a href="" class="aDropdown">Duvidas frequentes</a>
                <a href="" class="aDropdown">Suporte</a>
            </div>
          </div>


          
          <div class="privacidadeDropdown">
            <a href="javascript:void(0);" onclick="toggleMenuButtonPrinvacidadeDropdown()" class="toggleDropdown">Privacidade</a>

            <div class="privacidadeDropdownContent">
                <a href="" class="aDropdown">Politica de privacidade</a>
                <a href="" class="aDropdown">Termos de uso</a>
                <a href="" class="aDropdown">Condições e regras do app</a>
            </div>
          </div>



          <div class="notificacoesDropdown">
            <a href="javascript:void(0);" onclick="toggleMenuButtonNotificacoesDropdown()" class="toggleDropdown">Notificações</a>

            <div class="notificacoesDropdownContent">
                <p>Notificações</p>
                <!-- botão de notificação on e off -->
            </div>
          </div>



        </div>
      </div>
    </div>

    <!-- Conteúdo da página -->
    <div class="content">
      <header>
        <nav class="navbar">
          <!-- começo navbar top -->
          <div class="navbarTop">
            <!-- Começo Divisão 1 da navbar Top -->
            <div class="containerSeparacao01">
              <!-- logomarca e menu hamburguer -->
              <div class="navbarLogomarca">
                <a class="linkMenuhamburguer" href="javascript:void(0);" onclick="toggleMenu()" >
                  <!-- menu hambunguer -->
                  <i class="fa-solid fa-bars"></i>
                </a>

                <!-- Container para o menu -->
                <div id="menu" class="menu">
                  <a href="vagas.html">Vagas</a>
                  <a href="campeonato.html">Campeonato</a>
                  <a href="mensagens.html">Mensagens</a>
                </div>

                <!-- container vazio para separar o menu da logomarca  -->
                <div class="containerEmpty"></div>

                <!-- img logomarca -->
                <a href="vagas.html">
                  <img src="../static/img/Logo/logomarca.png" alt="Logomarca" />
                </a>
              </div>
            </div>

            <!-- container vazio para separar as divisões 1 e 2  -->
            <div class="containerEmpty02"></div>

            <!-- Começo Divisão 2 da navbar Top -->
            <div class="containerSeparacao02">
              <!-- barra de pesquisa -->
              <div class="navbarSearch">
                <input type="text" placeholder="Pesquisar..." />
                <button type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>

              <div class="containerEmpty03"></div>

              <!-- foto de perfil navbar -->
              <div class="navbarPhoto">
                <a href="telaPerfil.html">
                  <img src="../static/img/Perfil/perfil.PNG" alt="" />
                </a>
              </div>
            </div>
          </div>
          <!-- fim navbar top -->

          <!-- começo navbar bottom -->
          <div class="navbarBottom">
            <a href="vagas.html">Vagas</a>
            <a href="campeonato.html">Campeonato</a>
            <a href="mensagens.html">Mensagens</a>
          </div>

          <!-- fim navbar bottom -->
        </nav>
      </header>

      <section class="sectionBody">
        <div class="containerPrincModal">
          <div class="containerModals" id="containerModal01">
            <div class="containerDivis01">


              <div class="containerDivis01Img">
                <img src="../static/img/Modalidades/ginasticaBrasil.jpg" alt="">
              </div>


              <div class="containerdiv01-1">
                <h2 class="containerDivis01h2">Ginastica de Argola</h2>
                <span>Comitê Olímpico do Brasil (COB)</span>
                <span> São Bernardo - SP </span>
                <span><i class="fa-solid fa-exclamation"></i> Três vezes na semana</span>

              </div>
              

            </div>

            <div class="containerDivis02">
              <div class="containerAvaliation">
                <span>4.9</span>
                <i class="fa-solid fa-star"></i>
              </div>
              <button class="containerDivis02Button" onclick="goToPageCurriculo()"><i class="fa-solid fa-check"></i> Mandar Curriculo</button>
            </div>
          </div>

          

          <div class="containerModals" id="containerModal02">
            <div class="containerDivis01">
              

              <div class="containerDivis01Img">
                <img src="../static/img/Modalidades/FutebolDeCampo.webp" alt="">
              </div>


              <div class="containerdiv01-1">
                <h2 class="containerDivis01h2">Futebol de Campo</h2>
                <span>Sport Club Corinthians Paulista (SCCP)</span>
                <span>São Paulo - SP </span>
                <span><i class="fa-solid fa-exclamation"></i> Quatro vezes na semana</span>

              </div>
              

            </div>

            <div class="containerDivis02">
              <div class="containerAvaliation">
                <span>4.9</span>
                <i class="fa-solid fa-star"></i>
              </div>
              <button class="containerDivis02Button" onclick="goToPageCurriculo()"><i class="fa-solid fa-check"></i> Mandar Curriculo</button>
            </div>
          </div>

          <div class="containerModals" id="containerModal03">
            <div class="containerDivis01">
              

              <div class="containerDivis01Img">
                <img src="../static/img/Modalidades/VoleiDePraia.png" alt="">
              </div>


              <div class="containerdiv01-1">
                <h2 class="containerDivis01h2">Volei de Praia</h2>
                <span>Perequê Sport Club</span>
                <span>Guaruja - SP </span>
                <span><i class="fa-solid fa-exclamation"></i> Duas vezes na semana</span>

              </div>
              

            </div>

            <div class="containerDivis02">
              <div class="containerAvaliation">
                <span>4.9</span>
                <i class="fa-solid fa-star"></i>
              </div>
              <button class="containerDivis02Button" onclick="goToPageCurriculo()"><i class="fa-solid fa-check"></i> Mandar Curriculo</button>
            </div>
          </div>

          <div class="containerModals" id="containerModal04">
            <div class="containerDivis01">
              

              <div class="containerDivis01Img">
                <img src="../static/img/Modalidades/tenisDe Mesa.png" alt="">
              </div>


              <div class="containerdiv01-1">
                <h2 class="containerDivis01h2">Tenis de Mesa</h2>
                <span>Itaim Keiko</span>
                <span>Santo André - SP </span>
                <span><i class="fa-solid fa-exclamation"></i> Três vezes na semana</span>

              </div>
              

            </div>

            <div class="containerDivis02">
              <div class="containerAvaliation">
                <span>4.9</span>
                <i class="fa-solid fa-star"></i>
              </div>
              <button class="containerDivis02Button" onclick="goToPageCurriculo()"><i class="fa-solid fa-check"></i> Mandar Curriculo</button>
            </div>
          </div>

          <div class="containerModals" id="containerModal05">
            <div class="containerDivis01">
              

              <div class="containerDivis01Img">
                <img src="../static/img/Modalidades/Hipismo.jpg" alt="">
              </div>


              <div class="containerdiv01-1">
                <h2 class="containerDivis01h2">Hipismo</h2>
                <span>Sociedade Hípica Paulista</span>
                <span>Morumbi - SP  </span>
                <span><i class="fa-solid fa-exclamation"></i> Duas vezes na semana</span>

              </div>
              

            </div>

            <div class="containerDivis02">
              <div class="containerAvaliation">
                <span>4.9</span>
                <i class="fa-solid fa-star"></i>
              </div>
              <button class="containerDivis02Button" onclick="goToPageCurriculo()"><i class="fa-solid fa-check"></i> Mandar Curriculo</button>
            </div>
          </div>

          <div class="containerModals" id="containerModal06">
            <div class="containerDivis01">
              

              <div class="containerDivis01Img">
                <img src="../static/img/Modalidades/basketball.jpg" alt="">
              </div>


              <div class="containerdiv01-1">
                <h2 class="containerDivis01h2">Basquete</h2>
                <span>São Paulo</span>
                <span>Morumbi - SP </span>
                <span><i class="fa-solid fa-exclamation"></i> Três vezes na semana</span>

              </div>
              

            </div>

            <div class="containerDivis02">
              <div class="containerAvaliation">
                <span>4.9</span>
                <i class="fa-solid fa-star"></i>
              </div>
              <button class="containerDivis02Button" onclick="goToPageCurriculo()"><i class="fa-solid fa-check"></i> Mandar Curriculo</button>
            </div>
          </div>
        </div>

        <div class="containerButtonReadMore">
          <button class="buttonReadMore">Ver Mais</button>
        </div>
      </section>

      <footer class="footer">

        <div class="containerTopFooter">
          <div class="topFooter01">
            <input type="text" placeholder="Pesquisar..." />
            
            <button type="submit">
              <span>Enviar</span>
            </button>
          </div>

          <div class="topFooter02">

            <div class="circleIcon">
              <a href="https://wa.me/5511995685300">
                <i class="fa-brands fa-whatsapp"></i>
              </a>
            </div>

            <div class="circleIcon">
              <a href="">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </div>

            <div class="circleIcon">
              <a href="">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </div>

            <div class="circleIcon">
              <a href="">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </div>

          </div>
      </div>

        <div class="bottomFooter">
          <span>CopyRight 2024 &copy Todos os direitos Reservados</span>
        </div>


      </footer>
    </div>







  
  </body>
</html>